
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style>
.box { padding: 100px 0; width: 40%; text-align: center;
    background-color: #ddd; margin: 20px; display: inline-block;}
</style>
</head>
<body>
<h1>Vue Template</h1>
<div id="app">
  <p v-if=showBook>
    {{title}} - {{author}} -{{pages}}
  </p>
  <button v-on:click="toggleShowBook">
    <span v-if="showBook">책정보감추기</span>
    <span v-else>책정보  보기</span>
  </button>
  <br>
  <!-- mouse events with arguments-->
  <div class="box" @mouseover="dealwithEvent($event, 100)">mouseover</div>
  <div class="box" @mouseleave="dealwithEvent">mouseleave</div>
  <div class="box" @dblclick="dealwithEvent">double click</div>
  <div class="box" @mousemove="mousemove"></div> 
</div>
<script>
Vue.createApp({
data(){
  return {
    showBook :true,
      title :'The Load of Rings',
      author :'J. R. R. 톨킨',
      pages : '3권짜리 1볼륨'
    }
},
methods :{
  toggleShowBook(){
    this.showBook = !this.showBook
  },
  // dealwithEvent(e){
  //   console.log(e, e.type)
  //  }
  //  이렇게하고 dealwithEvent(5)를 넘기면 첫번째 인자로 5는 넘기지만 e.type에서 이벤트는 인식하지 못한다

  dealwithEvent(e,data){
    console.log(e, e.type)
    if (data){
      console.log(data)
    } },
  mousemove(){
    //console.log('move ')
  }
}
}).mount('#app');
</script>
</body>
</html>

