<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js :)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <script src="https://unpkg.com/vue@3.0.0"></script>
	</head>
<body>
  <h1>if statement</h1>
  <div id="app">
    <p v-if=showBook>
      {{title}} - {{author}} -{{pages}}
    </p>
    <button v-on:click="toggleShowBook">
      <span v-if="showBook">책정보감추기</span>
      <span v-else>책정보  보기</span>
      <!-- <span v-if="!showBook">책정보  보기</span> -->
      <!-- <span v-if="showBook==false">책정보  보기</span> -->
    </button>
    <div v-show="showBook">현재 책 정보 출력 중</div>
    <!-- 브라우저의 엘리먼트탭에서 태그안에 style만 보이는 것과 style=display:none 이 나오는 것을 확인하세요  -->
  </div>
<script>
Vue.createApp({
data(){
  return {
    showBook :true,
      title :'The Load of Rings',
      author :'J. R. R. 톨킨',
      pages : '3권짜리 1볼륨'
    }
},
methods :{
  toggleShowBook(){
    this.showBook = !this.showBook
  }

}
}).mount('#app');
</script>
</body>
</html>